---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/SearchBar";
import { sortItemsByDate } from "@utils/sortByDate";

const posts = await getCollection("blog", ({ data }) => !data.draft);
const projects = await getCollection("portfolio", ({ data }) => !data.draft);

const searchList = [...posts, ...projects];
const sortedSearchList = sortItemsByDate(searchList);
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any project or blog post.">
    <SearchBar client:load searchList={sortedSearchList} />
  </Main>
  <Footer />
</Layout>
