---
import getTailwindTagColor from "../utils/getTailwindTagColor"

export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;

const backgroundColorStyle = getTailwindTagColor(name);
const marginStyles = size === "sm" ? "my-1 mr-2" : "my-3 mr-4"
---
<li
  class={`${backgroundColorStyle} ${marginStyles} inline-block rounded-full py-1 px-2 leading-none bg-opacity-50 hover:bg-opacity-70`}
>
  <a
    href={`/tags/${name.toLowerCase()}`}
    class={`${size === "sm" ? "text-sm" : "text-lg"} group`}
  >
    {name.toLowerCase()}
  </a>
</li>
